{% extends "studentportal/base.html" %}

{% block body %}
    <div class="container py-3 px-3">
        <h2 class="mb-4 text-center mt-4">Reset Password</h2>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control"  name="email" id="email" required>
                <div  class="form-text">
                  Kindly enter your registered e-mail id
                </div>
            </div>
            <button type="submit" class="btn btn-dark w-100 mb-1">Reset Password</button>
            <a href="{% url "student_login_page" %}"><button type="button" class="btn btn-outline-dark w-100 my-1">Login Now</button></a>
        </form>
    </div>
{% endblock %}