{% extends "studentportal/base.html" %}

{% block body %}
    <div class="container py-2 px-3">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% if error %}
                {{ error }}
            {% endif %}
            <div class="row">
                <div class="mb-2 col-6">
                    <label class="form-label" for="first_name">First Name</label>
                    <input class="form-control" type="text" name="first_name" id="first_name" placeholder="First name"  value="{{ first_name }}" required>
                </div>
                <div class="mb-2 col-6">
                    <label class="form-label" for="last_name">Last Name</label>
                    <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Last name" value="{{ last_name }}" required>
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="email_id">Email Id</label>
                <input class="form-control" type="email" name="email_id" id="email_id" placeholder="E-mail address" value="{{ email }}" readonly required>
            </div>
            <div class="mb-2">
                <label class="form-label" for="phone_no">Phone No</label>
                <div class="input-group">
                    <span class="input-group-text">+91</span>
                    <input class="form-control" type="number" name="phone_no" id="phone_no" placeholder="Phone no for communication" value="{{ phone_no }}" readonly required>
                </div>
                <div  class="form-text">
                  Your 10-digit phone no
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="roll_no">Roll No</label>
                <input class="form-control" type="text" name="roll_no" id="roll_no" placeholder="Enter your 12 digit roll no" value="{{ roll_no }}" required>
                <div  class="form-text">
                  If your roll no starts with zero(0), don't ignore that
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="graduation_year">Graduation Year</label>
                <input class="form-control" type="number" name="graduation_year" id="graduation_year" value="{{ graduation_year }}" required>
            </div>
            <div class="mb-2">
                <label class="form-label" for="year">Currently studying in</label>
                <select name="year" id="year" required class="form-control">
                    <option selected disabled>Select Year</option>
                    {% for selectYear in years %}
                        <option value="{{ selectYear.0 }}"  {% if year == selectYear.0 %} selected {% endif %} >{{ selectYear.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success w-100 my-2">Update Details</button>
        </form>
    </div>
{% endblock %}

